
<!doctype html>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<html>
    <body>
<div class="container">
	<div class="d-flex justify-content-center">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
			</div>
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"></span>
						</div>
						<input type="text" class="form-control" placeholder="username">
					</div>
					
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"></span>
						</div>
						<input type="password" class="form-control" placeholder="password">
					</div>
					<br>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn"  (click)="onajout()">
					</div>
				</form>
			</div>
		
		</div>
	</div>
</div>


</body>
</html>